/********logo, title, nav, nav-link**********************/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.nav{
  background-color: #CFD6E4;
  display :flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
}
.nav-links{
  display: flex;
  justify-content: space-around;
  width: 30%;
}
.nav-links li{
  list-style: none;
}
.nav-links li a:hover:not(.active){
  color: #A07258;
}
.nav-links li a{
  text-decoration: none;
  color: black;
  font-family: Bebas Neue;
  font-size: 20px;
}
h3{
  text-align: center;
  font-family: Bebas Neue;
}
.row2{
  display: flex;
  align-items: center;
  justify-content: center;
}
.stressed {
  object-fit: cover;
  object-position: bottom;
  padding-left:50px;
}
#col-border{
  background-color:#CFD6E4;
  width:20%;
  padding: 0 20px 0 20px;
  border-radius:8px;
}
.col-sm.border > p{
  background-color:#CFD6E4;
  width:83.5%;
  padding: 0 20px 0 20px;
  text-align: left;
  display: flex;
  flex-shrink: 2;
  justify-content:center;
  align-items:center;


}
.button:hover{
  color:#A07258;
}
.button-2{
  text-transform: uppercase;
  background-color:#c78f6f;
  color: white;
  display:inline-block;
  letter-spacing:2px;
  font-family: Bebas Neue;
  font-size: 20px;
  display:flex;
  justify-content:center;
  align-items: center;
  padding:20px 30px;
  text-decoration: none;
  border-radius:8px;
  width:250px;
  margin-left:200px;
}
.button-2:hover{
  color:#A07258;
}
.button-3{
  text-transform: uppercase;
  background-color:#c78f6f;
  color: white;
  display:inline-block;
  letter-spacing:2px;
  font-family: Bebas Neue;
  font-size: 20px;
  display:flex;
  justify-content:center;
  align-items: center;
  text-decoration: none;
  border-radius:8px;
  width:250px;
  margin-bottom:0;
  padding-bottom:0;
  margin-top:60px;
  height: 70px;

}
.button{
  text-transform: uppercase;
  background-color:#c78f6f;
  color: white;
  display:inline-block;
  letter-spacing:2px;
  font-family: Bebas Neue;
  font-size: 20px;
  display:flex;
  justify-content:center;
  align-items: center;
  padding:20px 30px;
  width:250px;
  text-decoration: none;
  border-radius:8px;
}
/***********Containers, footer***************/
.logo-container{
  background-color: #CFD6E4;
}
.top-container{
  background: #CFD6E4;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.footer{
  display: flex;
  background-color:#CFD6E4;
  justify-content: space-between;
}
.title-container{
  text-align: center;
  display:flex;
  justify-content: center;
  align-items: center;
}
.third-container{
  display:flex;
  flex-wrap: wrap;
}
.button:hover{
  color:#A07258;
}
.final-container{
  display:flex;
}
.second-to-last-container{
  display:flex;
}
.third-to-last-container{
  background-color:#CFD6E4;
  display:flex;
  padding-left:40px;
}
.middle-container{
  padding-top: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
}
p{
  font-family: Bebas Neue;
}
.col-sm{
  font-family: Teko;
}
